/* html body{
    height: 100%;
} */

/* .content{
    min-height: 100%;
} */

.content header{
    background-repeat: no-repeat;
    height: 650px;
    background-size: 100% 100%
}

.content .tagLine{
    padding: 8%  15%;
    font-size: 60px;
    font-weight: 700;
    font-family: 'AR JULIAN'
}

.content #signUp{
    margin: 50px;
    font-size: large;
    background-color: rgb(252, 211, 149);
    color: white;
}

.content #signUp:hover{
    background-color: rgb(255, 196, 0);
}

.content #advantages{
    margin: 5% 40%;
    font-family: 'Times New Roman', Times, serif;
}

.content .advantage{
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.content .card{
    border: none;
}

.content .row{
    justify-content: center;
}

.content .card-img-top{
    border-radius: 50%;
}

.content .column{
   margin: 0 80px;
}

.content .card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.content #carouselExampleIndicators .carousel-inner h1{
    background-color: coral; 
    color:white; 
    text-align: center; 
    margin-bottom:0;
}

.content #carouselExampleIndicators .carousel-inner .carousel-item{
    background-color: coral; 
    color:white; 
    height:350px;
}

.content #carouselExampleIndicators .carousel-inner .carousel-item img{
    border-radius: 50%; 
    height: 12rem; 
    width: 12rem; 
    float:left;
}

.content #carouselExampleIndicators .carousel-inner .carousel-item p{
    float: left; 
    padding: 100px;
}

/* .footer{
    background-color: #303036;
    color: #d3d3d3;
    height: 350px;
    position: relative;
}

.footer .footer-content{
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}

.footer .footer-content .footer-section .icon{
    border: 0.5px solid gray;
    color: gray;
    border-radius: 5px;
    width: 38px;
    height: 35px;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    transition: all 0.3s;
}

.footer .footer-content .footer-section .icon:hover{
    background-color: gray;
    color: white;
    transition: all 0.3s;
}

.footer .footer-content .footer-section h2{
    color: white;
}

.footer .footer-content  .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: gray;
}

.footer .footer-content .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all 0.3s;
    text-decoration: none;
}

.footer .footer-content .contact-form input, 
.footer .footer-content .contact-form textarea{
    padding-left: 100px;
}

.footer .footer-content .contact-form .btn{
    background-color: wheat;
}

.footer .footer-content .contact-form .btn:hover{
    background-color: coral;
    color: whitesmoke;
    transition: all 0.3s;
}

.footer .footer-content .contact-form .text-input{
    border-radius: 5px;
    background-color: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    border: none;
}

.footer .footer-content .contact-form .text-input:focus{
    background: #1a1a1a;
    outline: none;
}

.footer .footer-bottom{
    background-color: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
 */
