body{
    display: block; 
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.6);
}

 .keyboard{
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -377px;
    margin-top: 10px;
    width: 776px;
    height: 340px;
    font-family: Arial, sans-serif;
    padding: 8px 10px;
    border: 1px solid black;
    /* box-sizing: border-box; */
    border-radius: 7px;
    /* background: rgba(239, 239, 239); */
}

.key{
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    margin: 5px;
    margin-bottom: 6px;
    color: rgba(80, 80, 80);
    box-shadow: 0px 1px 0px rgba(250, 250, 250),
                        0px 2px 0px rgba(250, 250, 250),
                        0px 3px 0px 1px rgba(250, 250, 250);
    background: rgb(249, 249, 249);
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding-top: 13px;
    border: 1px solid black;
}

.key-function{
    padding-top: 4px;
    width: 42px; 
    height: 20px;
    font-size: 0.9em;
}

.key-size-2{
    width: 68px;
}

.key-size-3{
    width: 79px;
}

.key-size-4{
    width: 104px;
}

.key-size-5{
    width: 105px;
}

.key-size-6{
    width: 58px;
}

.key-size-7{
    width: 291px;
}

.key-caps-lock::before{
    display: block;
    position: absolute;
    margin-left: 0px;
    margin-top: 5px;
    content: '';
    width: 5px;
    height: 5px;
    background: rgb(50, 75, 60);
    border-radius: 100%;
}

.key-small-type{
    font-size: 0.5em;
    line-height: 40px;
    vertical-align: bottom;
    text-align: left;
    padding-left: 0.4em;
}

.key-right{
    text-align: right;
    padding: 0.4em;
}

.key-small-type{
    font-size: 0.7em;
    padding: 2px;
    padding-top: 2px;
    text-align: center;
    line-height: 18px;
}

.key-right{
    font-size: 8px;
    padding-top: 5px;
    text-align: right;
}